<!DOCTYPE html>
<html lang="en">

<div>
    <input type="text" class="form-control" ng-model="searchBox.apartmentAddress" placeholder="Search by Adress">
    <input type="text" class="form-control" ng-model="searchBox.apartmentName " placeholder="Search Name">
    <!--  <p class="container">Seacr for : {{text}}</p> -->
</div>

<div class="container">
    <!-- {{dataset}} -->
    <!-- <div ng-view style="background-color:#ffe4c4;"></div> -->
    <table class="table">
        <tr ng-repeat="A in Apartments | filter:searchBox">
            <td>{{A.apartmentId}}</td>
            <td>{{A.apartmentName}}</td>
            <td>{{A.apartmentAddress}}</td>
            <td>{{A.apartmentPhoneNo}}</td>
        </tr>
    </table>
   <!--  {{NEW}} naja -->
    
    <!-- 
            <ul class="list-group" ng-repeat="f in dataset">
                <li class="list-group-item">{{f}} </li>
            </ul -->
</div>
<div class="container">
    <h3>Add Apartment page</h3>
    <form ng-submit="addapartment()">
        <input type="text" class="form-control" placeholder="ApartmentId" ng-model="newApt.apartmentId" required="required">
        <input type="text" class="form-control" placeholder="ApartmentName" ng-model="newApt.apartmentName" required="required">
        <textarea type="text" class="form-control" placeholder="Address" rows="3" ng-model="newApt.apartmentAddress" required="required"> </textarea>
        <input type="text" class="form-control" ng-model="newApt.apartmentPhoneNo" placeholder="Phone Number">
        <input type="submit" class="btn btn-primary"></input>
    </form>
</div>

</html>